HOST=0.0.0.0
PORT=3131
DATABASE_URL=postgresql://docker:1@localhost:5432/forklift_db?schema=public
JWT_SECRET=change-me
FIRST_PASSWORD=defina-a-senha-inicial-aqui
APPNAME=project_forklift
APPKEY=7d06f6d1-b7a7-4674-a556-e35e04425baa
UPLOAD_DIR=uploads
