HOST=0.0.0.0
PORT=3131
DATABASE_URL=postgresql://docker:docker@postgresql-forklift:5432/forklift_db?schema=public
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d
FIRST_PASSWORD=123
APPNAME=project_forklift
APPKEY=7d06f6d1-b7a7-4674-a556-e35e04425baa
UPLOAD_DIR=uploads
URL_VERIFY_EMPLOYEES=http://10.20.2.79:8886/api
ORION_URL=http://10.20.2.77:6161/api/applications/events
ORION_APP_TOKEN=
